*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: rgb(245, 245, 245);
}

.my-container{
    min-height: 700px;
    max-height: 700px;
}

footer{
    min-height: 80px;
    background: #343A40;
    color: #ffffff;
    text-align: center;
}

.conversation_list{
    max-height: 600px;
    min-height: 600px;
}

#search-container {
    display: grid;
    align-items: center;
    padding: 0 20px;
    grid-area: search-container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  
  #search-container input {
    color: rgb(7, 7, 7);
    outline: none;
    font-weight: normal;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url(/images/search.png) no-repeat var(--tertiary);
    background-position: 15px center;
    background-size: 20px 20px;
  }
  
  #search-container input::placeholder {
    color: #000;
    font-weight: bold;
  }

  .hr_new{
      border: 2px solid;
  }

/*  */
/*  */
/* modal search css */
.search_users ul {
    list-style-type: none;
    margin: 10px;
  }
  
  .search_users ul > li {
    background: var(--light);
    padding: 10px;
    border: 1px solid var(--dark);
    border-radius: 6px;
    width: 100%;
    height: auto;
    margin-top: 5px;
  }
  
  .search_users .user {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
  }
  
  .search_users .avatar img {
    width: 30px;
    height: 30px;
  }
/* modal search css */
/*  */
/*  */




/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
/* .back-top{
    background-color:  #fff;
    height: 10vh;
   } */
   
   /* .back-main{
    background-color:  #fff;
    height: 85vh;
   } */
   
   .back-container{
    position: relative;
   }
   
   .front-container{
    position: absolute;
    top:0;
    left:0;
    right: 0;
   }
   .front-container1{
    position: absolute;
    top:20px;
    left:0;
    right: 0;
   }
   
   .chat-top{
    background-color: #EDEDED;
    min-height: 50px;
   }
   
   .profile-image{
    margin-top: 7px;
    height: 30px;
    width: 30px;
   }
   
   .contacts{
    background-color: #ffffff;
    min-height: 600px;
   }
   
   .contact-table-scroll{
    overflow-y: scroll;
    height: 600px;
   }
   
   .message-area{
    background-color:  #e4e1de;
    min-height: 600px;
   }
   
   .message-table-scroll{
    overflow-y: scroll;
    height: 550px;
   }
   
   .message-box{
    background-color: #F0F0F0;
   }


/* -------------------------------------------------------------------- */
/* -------------------------------------------------------------------- */
